.announce{
    padding: 90px 0;
    .announce_wrap{
        background-color: $white;
        height: 480px;
        width: 100%;
        border-radius: 15px;
        box-shadow: $shadow;
        padding: 20px;
        display: flex;
        align-items: center;
        position: relative;
        border: 1px solid $border-2;
        .announce_wrap_item{
             h2{
                font-size: 30px;
                font-weight: 500;
                color: $black;
                line-height: 40px;
                text-align: center;
             }
             .read_btn{
                font-size: 16px;
                font-weight: 400;
                color: $white;
                padding: 12px;
                background-color: $primaryColor;
                text-align: center;
                border-radius: 35px;
                margin-top: 20px; 
                cursor: pointer;
                position: absolute;
                width: 90%; 
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
             }
        }
    }
}
.news{
    background-image: url(../image/news.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    z-index: 1; 
    padding: 80px 0;  
    background-attachment: fixed;
&::after{
    position: absolute;
    content: '';
    top: 0; 
    left: 0;
    background-color: rgba(0,0,0,0.5); 
    height: 100%;
    width: 100%;
    z-index: -1;
    }
    .news_wrapper{
        .section_heading{
            font-size: 30px;
            line-height: 40px;
            color: $white;
            font-weight: 500;
            text-align: center;
            padding-bottom: 30px;
        }
        .slider_item{
            padding: 40px 20px;
            background-color: $white;
            border-radius: 25px; 
            border: 2px solid $primaryColor;
            position: relative;
            margin: 10px 15px;
            text-align: center;
            &::after{
                position: absolute;
                content: '';
                height: 90%;
                width: 100%;
                background-color: $primaryColor;
                bottom: 0;
                left: -10px;
                z-index: -1;
                border-radius: 25px;
            }
            .sl_img{ 
                height: 320px;
                width: 320px;
                margin: 0 auto;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 5px solid $primaryColor;
                }
            }
             h4{
                 font-size: 22px;
                 font-weight: 500;
                 color: $primaryColor;
                 padding: 30px 0;
                 line-height: 38px
             }
             a{
                padding: 12px 30px;
                color: $white;
                font-weight: 400;
                background-color: $primaryColor;
                border-radius: 35px;
             }
    
        }
        .swiper-button-next {
            right: 10px;
            left: auto;
            height: 60px;
            width: 60px;
            background-color: rgba(0,0,0,0.6);
            border-radius: 50%;
            color:$white;
            &::after{
                font-size: 30px;
            }
        }
        .swiper-button-prev {
            left: 10px;
            left: auto;
            height: 60px;
            width: 60px;
            background-color: rgba(0,0,0,0.6);
            border-radius: 50%;
            color:$white;
            &::after{
                font-size: 30px;
            }
        }
    }


}