.commitee{
    background-image: url(../image/ab.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    z-index: 1; 
    padding: 80px 0; 
    background-attachment: fixed;
&::after{
    position: absolute;
    content: '';
    top: 0; 
    left: 0;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: -1;
    }
      .committe_wrapper{
             .section_heading{
                font-size: 30px;
                font-weight: 500;
                color: $white;
                text-align: center;
                padding-bottom: 50px;
             }
             .committe_wrap{
                 height: 380px;
                 background-color: $white;
                 border-radius: 15px;
                 overflow: hidden;
                 cursor: pointer;
                 &:hover .profile_img .p_img::after{
                    top: -10px;
                 }
                   .profile_img{
                       background-color: #fff;
                       padding: 25px 20px 10px 20px;
                       height: 310px;
                    .p_img{
                        height: 230px;
                        width: 230px;
                        margin: 0 auto;
                        border-radius: 50%;
                        position: relative;
                        z-index: 1;
                        &::after{
                            position: absolute;
                            content: '';
                            height: 100%;
                            width: 100%;
                            top: 0;
                            left: 0;
                            background-color: $primaryColor;
                            border-radius: 50%;
                            z-index: -1;
                          }
                        img{
                            max-width: 100%;
                            max-height: 100%;
                            border-radius: 50%;
                        }
                    }
                    
                    .designation{
                        font-size: 16px;
                        font-weight: 400;
                        color: $primaryColor;
                        padding-top:20px;
                       } 
                   }
                   .profile_info{
                       background-color: $primaryColor;
                       padding:10px 20px;
                       border-bottom-left-radius: 15px;
                       border-bottom-right-radius: 15px;
                       text-align: center;
                       h5{
                        font-size: 16px;
                        font-weight: 400;
                        color: $white;
                        font-family: $font-2; 
                       }
                       h6{
                        font-size: 15px;
                        font-weight: 400;
                        color: $white;
                        font-family: $font-2;
                        font-style: italic;
                        line-height: 12px;
                       }
                   }
             }
      }
}

.executive_committee{
    padding: 50px 0 120px  0;
}