.sideBar{
    position: absolute;
    top: 50%; 
    left: 0;
    z-index: 9; 
    transform: translateY(-50%);
    animation: sideAnime .9s; 
    .sideBar_contain{ 
        width: 290px;   
        height: 600px; 
        padding: 20px;
        border-radius: 20px; 
        box-shadow: 1px 1.732px 20px 0px rgba(0,0,0,0.2);   
        overflow: hidden;
        position: relative;
        z-index: 1;
        &::after{
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            background-color: rgb(255, 255, 255);
            filter: blur(8px); 
            -webkit-filter: blur(8px); 
            opacity: 70%;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .logo{
            img{
                width: 110px;
            }
        }
        .nav_list{
            padding-top: 20px;
            max-height: 420px;
            overflow-y:scroll;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */ 
            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none; 
              }
              .accordion {
                --bs-accordion-bg: rgba(255, 255, 255, 0);
                .accordion-item {
                    border: transparent !important;
                   .accordion-header {
                     .accordion-button{
                        padding: 9px 20px;
                        font-size: 17px;
                       }
                        i{
                            padding-left: 8px;
                            color: #333333;
                        }
                        .accordion-button:not(.collapsed) {
                            background-color: transparent;
                        }
                        .accordion-button:not(.collapsed) {
                            color: #333333; 
                        }
                    }
                    .accordion-body{
                        padding: 2px;
                          ul{
                            padding: 0 10px 0 30px; 
                            li{
                               padding: 5px 0;
                               font-size: 16px;
                               cursor: pointer;
                               i{
                                color: #333333;
                               }
                            }
                          }
                    }
                }
            }
              .accordion-button::after {
                display: none;
            } 
        }
    }
}
.sideNewClass{
    z-index: -11;
}

@keyframes sideAnime {
    0%   {left: -350px;}
    100% {left: 0px;}
}