$font-1:'Playfair Display', serif;
$font-2: 'Open Sans', sans-serif;
$font-3: 'Rubik', sans-serif;
$black: #333333;
$white: white;  
$red: #DF0404;
$green: #0bbe14;
$yellow:rgb(255, 196, 0);
$primaryColor: #006a4e;    
$text:rgb(73, 72, 72); 
$bg:linear-gradient(to top, #2dae4d, #30c054, #32d35b, #35dd5f, #38ee66);
$border-2:#d5d5d5;
$shadow: 0 1px 1px 1px rgba(0,0,0,.129);
 